header{
  height: 80px;
  background-color: aquamarine;
}
.main_wrapper{
  height:  calc(100% -80px);
  display: flex;
  background-color: aqua;
}
.my_container{
  width: 500px;
  background-color: chocolate;
  aspect-ratio: 1;
}
.square{
  aspect-ratio: 1;
  width: 50px;
  height: 50px;
  background-color: blue;
  border: 3px solid black ;
  color: white;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.square.clicked{
  background-color: lightblue;
}